<template>
  <div id="home">
    <div class="page-cover">
      <div
        class="cover-bg"
        :style="{
          backgroundImage:
            'url(https://res.cloudinary.com/dwlhubxxu/image/upload/v1620755856/mypic/bg-default_z5yu8p.jpg)'
        }"
      ></div>
    </div>
    <div class="page-register">
      <div class="fp-tableCell">
        <section class="content">
          <header class="p-title">
            <h3>Subscribe <i class="fas fa-user-edit"></i></h3>
          </header>
          <div>
            <form class="form " @submit.prevent="submitForm">
              <p class="invite center">Your Email: {{ yourEmail }}</p>
              <div class="fields clearfix">
                <div class="input">
                  <label for="reg-email">Email </label>
                  <input
                    v-model.trim="email"
                    class="email_f"
                    name="email"
                    type="email"
                    placeholder="your@email.address"
                    data-validation-type="email"
                  />
                </div>

                <div class="buttons">
                  <button id="submit-email" class="button email_b" name="submit_email">
                    Click Me
                  </button>
                </div>
              </div>
            </form>
          </div>
        </section>
        <footer class="p-footer p-scrolldown">
          <div class="arrow-d">
            <div class="before">{{ timerCount }}</div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>
<script>
import { timerMixin } from '../mixin/timerMixin'
export default {
  mixins: [timerMixin],
  data() {
    return {
      email: ''
    }
  },
  computed: {
    yourEmail() {
      if (this.email === '') {
        return ''
      }
      return this.email
    }
  },
  methods: {
    submitForm() {
      if (this.email) {
        this.$router.push({ name: 'props', params: { email: this.email } })
      }
    }
  }
}
</script>

<style>
.page-cover .cover-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding: 0;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 637px;
}
.page-register {
  display: table;
  table-layout: fixed;
  width: 100%;
  transform: none;
  background: transparent;
  border: none;
  position: relative;
  text-align: center;
  height: '637px';
}
.content {
  z-index: 1;
  transform: none;
  background: transparent;
  border: none;
  width: 720px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.p-title {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 30px;
  padding-left: 0px;
  text-align: left;
  display: inline-block;
  color: #fff;
  font-family: 'Asap';
  border-bottom: 8px solid #5677fc;
}
p.center {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 0.75rem;
}
.fields {
  margin-top: 172px;
  background: rgba(255, 255, 255, 0.1);
  padding-left: 16px;
  height: 46px;
  min-height: 36px;
  position: relative;
  border-bottom: 1px solid #5677fc;
  margin: 0;
  padding: 0;
  font-family: 'Opensans';
  letter-spacing: -0.01em;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.fields > div {
  float: left;
  margin: 0;
  padding: 0;
}
label {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0.35em;
  padding-top: 0.4em;
  line-height: 1.5;
  text-align: left;
  font-family: 'Opensans';
  letter-spacing: -0.01em;
}
.page-register .form input {
  background: transparent;
  border: none;
  color: #fff;
  padding: 0em 1em;
  padding-bottom: 0.6em;
  font-size: 20px;
  box-shadow: none;
  display: inline-block;
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 80px;
  right: 0;
  margin-bottom: 0;
  font-family: 'Opensans';
  letter-spacing: -0.01em;
  margin: 0 0 0 0;
  box-sizing: border-box;
}
.buttons {
  position: absolute;
  bottom: 0;
  right: -0.5px;
  height: 45px;
}
.buttons button {
  height: 45px;
  height: 45px;
  background: #5677fc;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  position: relative;
  transition: 0.3s;
  z-index: 2;
  font-family: 'Opensans';
  letter-spacing: -0.01em;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  line-height: normal;
  margin: 0 0 1.25rem;
  border-color: #007095;
  position: relative;
  text-decoration: none;
  text-align: center;
}

p {
  font-family: 'Asap';
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 0.75rem;
}
.p-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-top: 5rem;
}
.arrow-d {
  position: relative;
  width: auto;
  background: rgba(255, 255, 255, 0.15);
  height: 120px;
  width: 120px;
  left: 50%;
  bottom: 62px;
  margin: 0;
  display: block;
  border: 0px solid #fff;
  border-radius: 100%;
  margin-left: -24px;
  transition: 0.3s;
  font-family: 'Asap';
  color: #fff;
  font-size: 38px;
  text-align: center;
}
.before {
  top: 30px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  position: absolute;
  content: '';
  background: transparent;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
</style>
