<template>
  <div id="home">
    <div class="page-cover">
      <div
        class="cover-bg"
        :style="{
          backgroundImage:
            'url(https://res.cloudinary.com/dwlhubxxu/image/upload/v1620755856/mypic/bg-default_z5yu8p.jpg)'
        }"
      ></div>
    </div>
    <div class="page-register">
      <div class="fp-tableCell" style="height:637px;">
        <section class="content">
          <div class="clock clock-countdown">
            <div class="site-config" data-date="01/01/2022 23:00:00" data-date-timezone="+0"></div>
            <div class="elem-center">
              <span class="text top">
                Hi, <strong>{{ email }}</strong></span
              >
              <div class="digit days">{{ timerCount }}</div>
            </div>
            <div class="second">
              <div style="display:inline;width:400px;height:400px;">
                <canvas width="400" height="400"></canvas
                ><input
                  id="second-knob"
                  class="knob container"
                  data-width="400"
                  data-height="400"
                  data-displayinput="false"
                  data-fgcolor="#fff"
                  data-bgcolor="rgba(255,255,255,0)"
                  data-thickness=".07"
                  value="0"
                  data-displayprevious="true"
                  data-max="6000"
                  style="display: none; width: 0px; visibility: hidden;"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
import { timerMixin } from '../mixin/timerMixin'

export default {
  mixins: [timerMixin],
  props: ['email']
}
</script>

<style>
.page-cover .cover-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0;
  padding: 0;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 637px;
}
.page-register {
  display: table;
  table-layout: fixed;
  width: 100%;
  transform: none;
  background: transparent;
  border: none;
  position: relative;
  text-align: center;
  height: '637px';
}
.content {
  z-index: 1;
  transform: none;
  background: transparent;
  border: none;
  width: 720px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.content .clock {
  width: 430px;
  height: 430px;
  margin: 0 auto;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.15);
  position: relative;
}
.content .clock:before {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(255, 255, 255, 0);
  border-radius: 100%;
  box-shadow: 0px 0px 24px 1px rgba(7, 7, 7, 0.15);
}

.clock .elem-center {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  top: 0;
  margin-top: 50%;
  height: 50%;
  bottom: 0;
}
.clock .elem-center .text.top {
  position: relative;
  bottom: 50%;
  height: 30px;
  font-size: 24px;
  display: block;
  font-family: 'Asap';
  font-weight: normal;
  font-size: 30px;
}

.clock .elem-center .digit {
  position: relative;
  font-size: 120px;
  margin-top: -0.5em;
  letter-spacing: -0.03em;
  line-height: 1em;
  font-family: 'Asap';
  font-weight: bold;
  width: 100%;
  color: #fff;
  display: block;
}

.clock .second {
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  right: 15px;
  border: 0px solid #fff;
  border-radius: 100%;
  z-index: 2;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
  -moz-box-shadow: inset 0px 0px 0px 2px #fff;
  box-shadow: inset 0px 0px 0px 2px #fff;
}
canvas {
  vertical-align: middle;
}
</style>
